// Body
$body-bg: #FFFFFF;

// Typography
$font-family-bold: Dosis-Bold;
$font-family-semiBold: Dosis-SemiBold;
$font-family-extraBold: Dosis-ExtraBold;

$font-family-extraLight: Dosis-ExtraLight;
$font-family-light: Dosis-Light;

$font-family-medium: Dosis-Medium;
$font-family-regular: Dosis-Regular;


$font-size-base: 1rem;
$line-height-base: 1.6;
$font-color-base: #2b2929;

// Colors
$primary-color: 	#000000;
$secondary-color: 	#FFFFFF;

$error-color: #FF0000;



