// Fonts
@import 'fonts';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components
@import 'components/navbar';
@import 'components/buttons';
@import 'components/forms';
@import 'components/footer';
@import 'components/navbar';

// Basic Styles
body, html {
	display: flex;
	flex-direction: column;
	font-family: $font-family-regular;
	font-size: $font-size-base;
	color: $font-color-base;
	line-height: $line-height-base;
	background-color: $body-bg;
    height: 100%;
}

main {
	flex-grow: 1;
}
