//
// Load all Google Fonts
//

// Bold
@font-face {
	font-family: "Dosis-Bold";
	src: url("../fonts/static/Dosis-Bold.ttf");
}

// SemiBold
@font-face {
    font-family: "Dosis-SemiBold";
	src: url("../fonts/static/Dosis-SemiBold.ttf");
}

// Extra Bold
@font-face {
    font-family: "Dosis-ExtraBold";
	src: url("../fonts/static/Dosis-ExtraBold.ttf");
}

// Extra Light
@font-face {
    font-family: "Dosis-ExtraLight";
	src: url("../fonts/static/Dosis-ExtraLight.ttf");
}

// Light
@font-face {
    font-family: "Dosis-Light";
	src: url("../fonts/static/Dosis-Light.ttf");
}

// Medium
@font-face {
    font-family: "Dosis-Medium";
	src: url("../fonts/static/Dosis-Medium.ttf");
}

// Regular
@font-face {
    font-family: "Dosis-Regular";
	src: url("../fonts/static/Dosis-Regular.ttf");
}

