// Default links styles

a {
    outline: 0;
    color: white;
    text-decoration: none;

    &:hover{
        outline: 0;
        text-decoration: none;
    }

    &:active{
        outline: 0;
        text-decoration: none;
    }

    &:visited{
        outline: 0;
        text-decoration: none;
    }

    &:focus{
        outline: 0;
        text-decoration: none;
    }

}

// Buttons from Bootstrap 4

.btn-submit {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    border: none;
    border-radius: 0;

    color: $secondary-color;
    background-color: $primary-color;

    font-family: $font-family-regular;
    font-size: 1.2em;
    font-weight: 800;

    transition: all 0.4s ease-in-out;

    &:hover {
        transition: all 0.4s ease-in-out;
        color: $secondary-color;
        background-color: $primary-color;
        text-decoration: none;
    }

    &:focus {
        outline: 0;
    }
}


.basic-button {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    border: none;
    border-radius: 0;

    color: $secondary-color;
    background-color: $primary-color;

    font-family: $font-family-regular;
    font-size: 1.2em;
    font-weight: 800;

    transition: all 0.4s ease-in-out;

    &:hover {
        transition: all 0.4s ease-in-out;
        color: $secondary-color;
        background-color: $primary-color;
        text-decoration: none;
    }

    &:focus {
        outline: 0;
    }
}