//
// Footer styles
//

.sticky-footer {
	display: flex;
	justify-content: center;
	background-color: $secondary_color;
	color: $primary_color;
	padding: .5rem;

	-webkit-animation: fadeIn 1.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadeIn 1.5s; /* Firefox < 16 */
	-ms-animation: fadeIn 1.5s; /* Internet Explorer */
	-o-animation: fadeIn 1.5s; /* Opera < 12.1 */
	animation: fadeIn 1.5s;

	// Media Queries
	@media (min-width: 576px) {}

	@media (min-width: 768px) {}

	@media (min-width: 992px) {}

	@media (min-width: 1200px) {}

	.footer-section{

	}

	.copy-wrapper {

	}
}