// Contact Form

.contact-wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	padding: 1rem;
	margin-top: 2.5%;
	
	// Media Queries
	@media (min-width: 576px) {}

	@media (min-width: 768px) {}

	@media (min-width: 992px) {
		margin-top: 5%;
	}

	@media (min-width: 1200px) {
		margin-top: 5%;
	}

	.contact-title {
		display: flex;
		flex-direction: column;

		h2 {

		}
	}

	.contact-form {
		display: flex;
		flex-direction: column;

		.form-group {

			.form-control {
				border-radius: 0;
			}
		}
		

	}

}

