// Navbar from Bootstrap 4

.navbar.navbar-default {
    background-color: #FFFFFF;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}