<template>
  <section class="contact-wrapper">

    <div class="contact-title">
      <h2>CONTACT</h2>
    </div>

    <form action="#" @submit.prevent="submitForm()" class="contact-form" data-form-title="Contact us">
      <input type="hidden" data-form-email="true">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" v-model="contact.name" name="name" required="" placeholder="Name*" data-form-field="Name">
      </div>

      <div class="form-group">
        <label for="name">Email</label>
        <input type="email" class="form-control" v-model="contact.email" name="email" required="" placeholder="Email*" data-form-field="Email">
      </div>

      <div class="form-group">
        <label for="name">Phone</label>
        <input type="tel" class="form-control" v-model="contact.phone" name="phone" placeholder="Phone" data-form-field="Phone">
      </div>

      <div class="form-group">
        <label for="name">Message</label>
        <textarea class="form-control" v-model="contact.message" name="message" placeholder="Message" rows="7" data-form-field="Message"></textarea>
      </div>

      <div>
        <button type="submit" class="btn btn-lg btn-submit">Send Message</button>
      </div>
    </form>

  </section>
</template>

<script>
  export default {
    data: function(){
      return {
        contact:{
          name:'',
          email:'',
          phone:'',
          message:''
        }
      }
    },
    mounted: function(){
      console.log('Contact form Component Loaded...');
    },
    methods: {
      submitForm(){
        let formData = {
          name: this.contact.name,
          email: this.contact.email,
          phone: this.contact.phone,
          message: this.contact.message,
        };

        return axios.post('/api/contact', formData).then(data => {
              // Change to notify the user
              console.log('Message sent');
            });
      }
    }
  }
</script>
